@charset "utf-8";
/* CSS Document */
*{
	font-family: Arial, Helvetica, sans-serif;
	background-size: cover;
	letter-spacing: 1px;
}
body{
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
footer{
	background-color: #465064;
	color: #fff;
}
.container{
	max-width: 75%;
}
.c{
	cursor: pointer;
}
.aw{
	color: #fff;
	transition: 0.5s;
}
.aw:hover{
	color: #ee7d62;
	transition: 0.5s;
	text-decoration: none;
}
.ab{
	color: #465064;
	transition: 0.5s;
}
.ab:hover{
	color: #ee7d62;
	transition: 0.5s;
	text-decoration: none;
}
/*======================================*/
.alignc{
	text-align: center;
}
.alignl{
	text-align: left;
}
.alignj{
	text-align: justify;
	padding-top: 80px;
}

.fpink,#fpink{
	color: #FCA98F;
}
.fred{
	color: #ee7d62;
}
.fdark{
	color: #465064;
}
.ffff{
	color: #fff;
}
.fw{
	font-weight: bold;
}
.f100{
	font-size: 80px;
}

.btn-danger {
  color: #fff;
  background-color: #ee7d62;
  border-color: #ee7d62;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}
.btn-dark {
  color: #fff;
  background-color: #465064;
  border-color: #465064;
}

.btn-dark:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.btn-outline-danger {
  color: #ee7d62;
  background-color: transparent;
  background-image: none;
  border-color: #ee7d62;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
/*======================================*/
#page2{
	background-image: url(../images/page2.png);
	background-attachment: fixed;
	padding: 115px 0px;
}
#page5-footer{
	background-color: #465064;
	color: #fff;
	padding: 50px 0px 40px 0px;
}
/*======================================*/
.navbar{
	z-index: 998;
	box-shadow: 0px 0px 10px #465064;	
	padding: 10px 50px;
}
.bg-dark{
	background-color: #f5f5f5!important;
	transition: 0.5s;
	opacity: 0.9;
}
.bg-dark:hover{
	background-color: #f5f5f5!important;
	transition: 0.5s;
	opacity: 1;
}
.navbar-light .navbar-nav .nav-link {
    color: #333;
	transition: 0.5s;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ee7d62;
	transition: 0.5s;
}
.linkr {
    color: #ee7d62;
	transition: 0.5s;
	text-decoration: none;
}
.linkr:hover {
    color: #333;
	transition: 0.5s;
	text-decoration: none;
}
/*======================================*/
.top{
	width: 60px;
	height: 60px;
	right: 3rem;
	bottom: 2rem;
	position: fixed;
	z-index: 999;
	border: solid 4px #ee7d62;
	border-radius: 60px;
	transition: 0.5s;
	cursor: pointer;
}
.top:hover{
	border: solid 4px #465064;
	box-shadow: 0px 0px 10px #fff;
}
/*======================================*/
.alignc{
	justify-content: center;
	align-items: center;
}
.line-height{
	line-height: 1.5;
}
.mr-l25{
	margin: 0px 25px;
}
.pb-40{
	padding-bottom: 20px;
}
.pr-50{
	padding-right: 50px;
}
/*======================================*/
.nav-logo{
	width: 30px;
	margin-right: 5px;
}
/*======================================*/
.btn-view{
	font-size: 24px;
	padding: 15px 35px;
	border-radius: 100px;
}
.YING-img{
	width: 90%;
	border-radius: 100%;
	margin-top: 25px;
	margin-left: 70px;
}
/*======================================*/
.pt100{
	padding-top: 100px;
}
.works-text{
	font-size: 24px;
	color: #fff;
	z-index: 1;
}
.works-box{
	border: solid 1px #000;
	border-radius: 5px;
	padding: 100px;	
	transition: 0.5s;
}
.works-box:hover{
	border: solid 1px #ee7d62;
	transition: 0.5s;
	filter: brightness(60%);
}
.works-img1{
	background-image: url(../images/works/project.jpg);
}
.works-img2{
	background-image: url(../images/works/web.png);
}
.works-img3{
	background-image: url(../images/works/graphic.png);
}
.works-img4{
	background-image: url(../images/works-painting/2021/2021-4-3.jpg);
}
.works-img5{
	background-image: url(../images/works/photography.jpeg);
}
.works-img6{
	background-image: url(../images/works-other/3D/rhino-2022-dog.jpg);
}
/*======================================*/
.web-bigbox{
	column-count: 2;
	column-gap: 0;
}
.btn-web{
	font-size: 18px;
	padding: 15px 35px;
	border-radius: 100px;
}
.web-box{
	border-radius: 5px;
	padding: 100px;
	background-image: url(../images/works-web/web-wood\(s\).png);
	transition: 0.5s;
}
.web-box:hover{
	transition: 0.5s;
	filter: brightness(60%);
	transform: scale(1.05);
}
/*======================================*/
.graphic-bigbox{
	column-count: 3;
	column-gap: 0;
}
.graphic-img{
	width: 23vw;
	margin-left: 15px;
}
.graphic-img>img{
	width: 100%;
}
.graphic-bigimg{
	width: 90%;
}
/*======================================*/
.painting-bigimg{
	width: 90%;
}
/*======================================*/
.project-bigbox{
	column-count: 4;
	column-gap: 0;
}
.project-box{
	padding: 8px;
	transition: 0.5s;
}
.project-box:hover{
	transition: 0.5s;
	transform: scale(1.03);
}
.project-box>img{
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s;
	border-radius: 5px;
}
/* .project-box>img:hover{
	transition: 0.5s;
	filter: brightness(70%);
} */
.works-title{
    clear: left;
    display: flex;
}
.div-block{
	display: flex;
}
.works-title-num{
    font-size: 45px;
	margin-right: 10px;
	line-height: 50px;
}
.works-title-block {
    flex-direction: column;
    display: flex;
	justify-content: center;
}
.works-title-top,.works-title-bottom{
	display: inline-block;
	margin: 0;
}
.works-title-bottom{
	font-size: 12px;
}
.web-img{
	width: 100px;
	height: auto;
}

.software-img{
	width: 3.5vw;
	margin: 10px;
}

.table{
	border: 0;
}
.table td{
    border: 0;
}
.sample{
	width: 25px;
	height: 25px;
	/* margin-left: 20px; */
}
.red{
	background-color: #ee7d62;
}
.pink{
	background-color: #FCA98F;
}
.blue{
	background-color: #465064;
}
.grey{
	background-color: #EEEEEE;
}
.dark{
	background-color: #212529;
}
.white{
	background-color: #fff;
	border: #000 1px solid;
}

.carousel-text{
	background-color: #000;
	color: #fff;
	font-weight: bold;
	width: 18vw;
	padding: 10px;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 40px;
	border: solid 2px #fff;
}
.web-portfolio-button {
	padding: 0.375rem 1rem;
	border-radius: 2rem;
	display: inline-block;
}

.web-109-button {
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
	display: inline-block;
}
.btn-outline{
	color: #ee7d62;
	border: 1px solid #ee7d62;
}
.btn-red{
	color: #fff;
	border: 1px solid #dc3545;
	background-color: #dc3545;
}
.btn-red-line{
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
.btn-blue{
	color: #fff;
	border: 1px solid #465064;
	background-color: #465064;
}
.btn-blue-line{
	box-shadow: 0 0 0 0.2rem rgba(98, 98, 98, 0.5);
}

.project-img2{
	width: 28vw;
	margin-left: 15px;
}

.project-time,.fgrey,#fgrey{
	color: #63728f;
}
.project-title{
	font-weight: bold;
}
.project-text{
	line-height: 1.8;
}
.project-img{
	width: 42vw;
	margin-left: 15px;
}
.project-img>img{
	width: 100%;
}
.project-bigimg{
	width: 100%;
}

.project-biglist{
	border: solid 1px #000;
}
.project-list{
	margin: 0px 0px 20px 20px;
	transition: 0.5s;
}
.project-list:hover{
	transition: 0.5s;
	/* filter: brightness(60%); */
	transform: scale(1.05);	
}
.project-list>img{
	width: 100%;
}
.project-page{
	padding: 40px 0px 30px 0px;
}
.project-previous,.project-next{
	display: flex;
}
.project-next{
	justify-content: end;
	padding-right: 100px;
}
/*======================================*/
.ui-test-button{
	width: 20vw;
}
.ui-comic-button{
	padding: 0.6rem 8rem;
	border-radius: 8rem;
	display: inline-block;
	color: #000000;
	border: 1.5px solid #000000;
	font-weight: bold;
}
.ui-comic-button-next{
	padding: 0.6rem 0.8rem;
	border-radius: 2rem;
	display: inline-block;
	color: #000000;
	border: 1.5px solid #000000;
	font-weight: bold;
}
.goblin{
	width: 8vw;
}
/*======================================*/
.skill{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.skill-box{
	border: solid 1px #000;
	border-radius: 5px;
	padding: 10px;
	transition: 0.5s;
	width: 6vw;
	height: 12vh;
	padding: 10px;
	margin: 10px;
	font-size: 40px;
}

.experience{
	display: block;
	align-items: center;
}
.experience-title{
	font-size: 18px;
	font-weight: bold;
}
.experience-text{
	font-size: 16px;
}

::-moz-selection { /* Code for Firefox */
	color: white;
	background: #465064;
  }
   
  ::selection {
	color: white;
	background: #465064;
  }
/*======================================*/
@media (max-width: 770px) {
	.container{
		max-width: 87%;
	}
	#page2{
		padding: 40px 0px;
	}
	.top{
		right: 1rem;
		bottom: 1rem;
	}
	.YING-img{
		width: 100%;
		margin-left: 0px;
		margin-top: 50px;
	}
	.contact{
		margin-top: 10px;
	}
	.scroll{
		display: none;
	}
	.project-img2{
		width: 75vw;
		margin-left: 0px;
	}
	.project-img{
		width: 92vw;
		margin-left: 0px;		
	}
	.project-page{
		padding: 30px 0px 15px 0px;
	}
	.project-next{
		justify-content: end;
		padding-right: 0;
		padding-top: 15px;
	}
	.pb-40{
		padding-bottom: 20px;
	}
	.pr-50{
		padding-right: 20px;
	}
	/* #works-project{
		max-width: 95%;
	} */
	.graphic-img{
		width: 75vw;
		margin-left: 0px;
	}
	.graphic-bigimg{
		width: 100%;
	}
	.project-bigbox,.web-bigbox,.graphic-bigbox{
		column-count: 1;
		column-gap: 0;
	}
	.painting-bigimg{
		width: 100%;
	}
	#page2{
		background-image: none;
		background-attachment: fixed;
		padding: 50px 0px;
	}
	.software-img{
		width: 9vw;
		margin: 10px;
	}
	.goblin{
		width: 50vw;
	}
	.ui-test-button{
		width: 70vw;
	}
	.ui-comic-button{
		padding: 0.6rem 3rem;
		border-radius: 8rem;
	}
	.ui-comic-button-next{
		padding: 0.6rem 0.8rem;
		border-radius: 2rem;
	}
}
